@import "./variables.css";


.jsui-primary-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--md-sys-typescale-label-large-font);
    line-height: var(--md-sys-typescale-label-large-line-height);
    font-size: var(--md-sys-typescale-label-large-size);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-weight: var(--md-sys-typescale-label-large-weight);
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-top-left-radius: 32px 32px;
    border-top-right-radius: 32px 32px;
    border-bottom-left-radius: 32px 32px;
    border-bottom-right-radius: 32px 32px;
}


.jsui-primary-button-icon-left {
    padding-left: 16px;
}


.jsui-primary-button-icon-right {
    padding-right: 16px;
}


.jsui-primary-button:enabled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border-width: 0;
}


.jsui-primary-button:disabled {
    background-color: var(--jsui-disabled-background-color);
    color: var(--jsui-disabled-text-color);
    border-width: 0;
}


.jsui-primary-button .jsui-icon {
    width: 18px;
    height: 18px;    
}


.jsui-primary-button:enabled .jsui-icon {
    background-color: var(--md-sys-color-on-primary);
}


.jsui-primary-button:disabled .jsui-icon {
    background-color: var(--jsui-disabled-text-color);
}
