.jsui-button {
    display: grid;
}
 
.jsui-button-text {
    font-family: var(--md-sys-typescale-label-large-font);
    line-height: var(--md-sys-typescale-label-large-line-height);
    font-size: var(--md-sys-typescale-label-large-size);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-weight: var(--md-sys-typescale-label-large-weight);     
}
 
.jsui-button-layer {
    width: 100%;
    height: 100%;     
    grid-column: 1;
    grid-row: 1;
 }
 
 .jsui-button-layer-state {
    border-width: 0;    
}
 
.jsui-button-layer-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 24px;
    padding-right: 24px;
}
