.jsui-filled-button {
    border-width: 0;    
}
 
/* ENABLED */

.jsui-filled-button:enabled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    box-shadow: 0;
}

.jsui-filled-button:enabled .jsui-button-layer-state {
    opacity: 0;
}

.jsui-filled-button:enabled .jsui-icon {
    background-color: var(--md-sys-color-on-primary);
}

/* DISABLED */

.jsui-filled-button:disabled {
    background-color: var(--jsui-disabled-background-color);
    color: var(--jsui-disabled-text-color);
    box-shadow: 0;
}

.jsui-filled-button:disabled .jsui-button-layer-state {
    opacity: 0;
}

.jsui-filled-button:disabled .jsui-icon {
    background-color: var(--jsui-disabled-text-color);
}

/* HOVER */

.jsui-filled-button:enabled:hover {
    color: var(--md-sys-color-on-primary);
    box-shadow: var(--md-sys-elevation-level1);
}


.jsui-filled-button:enabled:hover .jsui-button-layer-state {
    background-color: var(--md-sys-color-on-primary);
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.jsui-filled-button:enabled:hover .jsui-icon {
    background-color: var(--md-sys-color-on-primary);
}

/* FOCUS */

.jsui-filled-button:enabled:focus {
    color: var(--md-sys-color-on-primary);
    box-shadow: 0;
    outline: none;
}


.jsui-filled-button:enabled:focus .jsui-button-layer-state {
    background-color: var(--md-sys-color-on-primary);
    opacity: var(--md-sys-state-focus-state-layer-opacity);
}

.jsui-filled-button:enabled:focus .jsui-icon {
    background-color: var(--md-sys-color-on-primary);
}

/* PRESSED */

.jsui-filled-button:enabled:active {
    color: var(--md-sys-color-on-primary);
    box-shadow: 0;
    outline: none;
}


.jsui-filled-button:enabled:active .jsui-button-layer-state {
    background-color: var(--md-sys-color-on-primary);
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.jsui-filled-button:enabled:active .jsui-icon {
    background-color: var(--md-sys-color-on-primary);
}
